'.source.ruby, .source.ruby.rails .meta.rails.model':

  # CALLBACKS
  'after_create ':
    'prefix': 'after_create :'
    'body': 'after_create :${1:method_name}, ${2:if: :${3:conditional_method}} '
    'leftLabelHTML': '<span style=\"color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em\">rails</span>'
    'description': 'Callbacks are hooks into the life cycle of an Active Record object that allow you to trigger logic before or after an alteration of the object state. '
    'descriptionMoreURL': 'http://api.rubyonrails.org/classes/ActiveRecord/Callbacks.html '

  'after_destroy ':
    'prefix': 'after_destroy :'
    'body': 'after_destroy :${1:method_name}, ${2:if: :${3:conditional_method}} '
    'leftLabelHTML': '<span style=\"color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em\">rails</span>'
    'description': 'Callbacks are hooks into the life cycle of an Active Record object that allow you to trigger logic before or after an alteration of the object state. '
    'descriptionMoreURL': 'http://api.rubyonrails.org/classes/ActiveRecord/Callbacks.html '

  'after_save ':
    'prefix': 'after_save :'
    'body': 'after_save :${1:method_name}, ${2:if: :${3:conditional_method}}'
    'leftLabelHTML': '<span style=\"color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em\">rails</span>'
    'description': 'Callbacks are hooks into the life cycle of an Active Record object that allow you to trigger logic before or after an alteration of the object state. '
    'descriptionMoreURL': 'http://api.rubyonrails.org/classes/ActiveRecord/Callbacks.html '

  'after_update ':
    'prefix': 'after_update :'
    'body': 'after_update :${1:method_name}, ${2:if: :${3:conditional_method}}'
    'leftLabelHTML': '<span style=\"color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em\">rails</span>'
    'description': 'Callbacks are hooks into the life cycle of an Active Record object that allow you to trigger logic before or after an alteration of the object state. '
    'descriptionMoreURL': 'http://api.rubyonrails.org/classes/ActiveRecord/Callbacks.html '

  'after_validation ':
    'prefix': 'after_validation :'
    'body': 'after_validation :${1:method_name}, ${2:if: :${3:conditional_method}}'
    'leftLabelHTML': '<span style=\"color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em\">rails</span>'
    'description': 'Callbacks are hooks into the life cycle of an Active Record object that allow you to trigger logic before or after an alteration of the object state. '
    'descriptionMoreURL': 'http://api.rubyonrails.org/classes/ActiveRecord/Callbacks.html '

  'before_create ':
    'prefix': 'before_create :'
    'body': 'before_create :${1:method_name}, ${2:if: :${3:conditional_method}}'
    'leftLabelHTML': '<span style=\"color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em\">rails</span>'
    'description': 'Callbacks are hooks into the life cycle of an Active Record object that allow you to trigger logic before or after an alteration of the object state. '
    'descriptionMoreURL': 'http://api.rubyonrails.org/classes/ActiveRecord/Callbacks.html '

  'before_destroy ':
    'prefix': 'before_destroy :'
    'body': 'before_destroy :${1:method_name}, ${2:if: :${3:conditional_method}}'
    'leftLabelHTML': '<span style=\"color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em\">rails</span>'
    'description': 'Callbacks are hooks into the life cycle of an Active Record object that allow you to trigger logic before or after an alteration of the object state. '
    'descriptionMoreURL': 'http://api.rubyonrails.org/classes/ActiveRecord/Callbacks.html '

  'before_save ':
    'prefix': 'before_save :'
    'body': 'before_save :${1:method_name}, ${2:if: :${3:conditional_method}}'
    'leftLabelHTML': '<span style=\"color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em\">rails</span>'
    'description': 'Callbacks are hooks into the life cycle of an Active Record object that allow you to trigger logic before or after an alteration of the object state. '
    'descriptionMoreURL': 'http://api.rubyonrails.org/classes/ActiveRecord/Callbacks.html '

  'before_update ':
    'prefix': 'before_update :'
    'body': 'before_update :${1:method_name}, ${2:if: :${3:conditional_method}}'
    'leftLabelHTML': '<span style=\"color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em\">rails</span>'
    'description': 'Callbacks are hooks into the life cycle of an Active Record object that allow you to trigger logic before or after an alteration of the object state. '
    'descriptionMoreURL': 'http://api.rubyonrails.org/classes/ActiveRecord/Callbacks.html '

  'before_validation ':
    'prefix': 'before_validation :'
    'body': 'before_validation :${1:method_name}, ${2:if: :${3:conditional_method}}'
    'leftLabelHTML': '<span style=\"color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em\">rails</span>'
    'description': 'Callbacks are hooks into the life cycle of an Active Record object that allow you to trigger logic before or after an alteration of the object state. '
    'descriptionMoreURL': 'http://api.rubyonrails.org/classes/ActiveRecord/Callbacks.html '
