'.source.js':

  'Ember Route Import':
    'prefix': 'route'
    'body': """
      import Ember from 'ember';
      const { Route } = Ember;
      export default Route.extend({({
        model: function() {
          ${1:// body}
        },
      });
      """
    'leftLabelHTML': "<span style='color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em '\>Ember Files</span>"
    'description': 'Ember files skeleton / import syntex '
    'descriptionMoreURL': 'http://emberjs.com'
  'Ember Controller Import':
    'prefix': 'controller'
    'body': """
      import Ember from 'ember';
      const { Controller } = Ember;
      export default Controller.extend({({
        ${1:// body}
      });
      """
    'leftLabelHTML': "<span style='color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em '\>Ember Files</span>"
    'description': 'Ember files skeleton / import syntex '
    'descriptionMoreURL': 'http://emberjs.com'
  'Ember Service Import':
    'prefix': 'service'
    'body': """
      import Ember from 'ember';
      const { Service } = Ember;
      export default Service.extend({({
        ${1:// body}
      });
      """
    'leftLabelHTML': "<span style='color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em '\>Ember Files</span>"
    'description': 'Ember files skeleton / import syntex '
    'descriptionMoreURL': 'http://emberjs.com'
  'Ember Component Skeleton':
    'prefix': 'component'
    'body': """
      import Ember from 'ember';
      const { Component } = Ember;
      export default Component.extend({({
        ${1:// body}
      });
      """
    'leftLabelHTML': "<span style='color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em '\>Ember Files</span>"
    'description': 'Ember files skeleton / import syntex '
    'descriptionMoreURL': 'http://emberjs.com'
  'Emebr Mixin Skeleton':
    'prefix': 'mixin'
    'body': """
      import Ember from 'ember';
      export default Ember.Mixin.create({
        ${1:// body}
      });
      """
    'leftLabelHTML': "<span style='color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em '\>Ember Files</span>"
    'description': 'Ember files skeleton / import syntex '
    'descriptionMoreURL': 'http://emberjs.com'
  'Emebr Object Skeleton':
    'prefix': 'object'
    'body': """
      import Ember from 'ember';
      const { Object } = Ember;
      export default Object.extend({({
        ${1:// body}
      });
      """
    'leftLabelHTML': "<span style='color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em '\>Ember Files</span>"
    'description': 'Ember files skeleton / import syntex '
    'descriptionMoreURL': 'http://emberjs.com'
  'Emebr Helper Skeleton':
    'prefix': 'bound-helper'
    'body': """
      import Ember from 'ember';
      export default Ember.Handlebars.makeBoundHelper(function() {
        ${1:// body}
      });
      """
    'leftLabelHTML': "<span style='color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em '\>Ember Files</span>"
    'description': 'Ember files skeleton / import syntex '
    'descriptionMoreURL': 'http://emberjs.com'
  'Emebr Helper Skeleton':
    'prefix': 'helper'
    'body': """
      import Ember from 'ember';
      const { Helper } = Ember;

      export default Helper.extend({({
        compute: function() {
          ${1:// body}
        }
      });
      """
    'leftLabelHTML': "<span style='color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em '\>Ember Files</span>"
    'description': 'Ember files skeleton / import syntex '
    'descriptionMoreURL': 'http://emberjs.com'
  'Emebr Model Skeleton':
    'prefix': 'model'
    'body': """
      import DS from 'ember-data';
      export default DS.Model.extend({
        ${1:// body}
      });
    """
    'leftLabelHTML': "<span style='color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em '\>Ember Files</span>"
    'description': 'Ember files skeleton / import syntex '
    'descriptionMoreURL': 'http://emberjs.com'
  'Emebr REST Adapter Skeleton':
    'prefix': 'adapter'
    'body': """
      import DS from 'ember-data';
      export default DS.RESTAdapter.extend({
        ${1:// body}
      });
    """
    'leftLabelHTML': "<span style='color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em '\>Ember Files</span>"
    'description': 'Ember files skeleton / import syntex '
    'descriptionMoreURL': 'http://emberjs.com'
  'Emebr Active Model Adapter Skeleton':
    'prefix': 'active-adapter'
    'body': """
      import DS from 'ember-data';
      export default DS.ActiveModelAdapter.extend({
        ${1:// body}
      });
      """
    'leftLabelHTML': "<span style='color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em '\>Ember Files</span>"
    'description': 'Ember files skeleton / import syntex '
    'descriptionMoreURL': 'http://emberjs.com'
  'Emebr JSON API Adapter Skeleton':
    'prefix': 'jsonapi-adapter'
    'body': """
      import DS from 'ember-data';
      export default DS.JSONAPIAdapter.extend({
        ${1:// body}
      });
    """
    'leftLabelHTML': "<span style='color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em '\>Ember Files</span>"
    'description': 'Ember files skeleton / import syntex '
    'descriptionMoreURL': 'http://emberjs.com'
  'Emebr REST Serializer Skeleton':
    'prefix': 'serializer'
    'body': """
      import DS from 'ember-data';
      export default DS.RESTSerializer.extend({
        ${1:// body}
      });
    """
    'leftLabelHTML': "<span style='color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em '\>Ember Files</span>"
    'description': 'Ember files skeleton / import syntex '
    'descriptionMoreURL': 'http://emberjs.com'
  'Emebr Active Model Serializer Skeleton':
    'prefix': 'active-serializer'
    'body': """
      import DS from 'ember-data';
      export default DS.ActiveModelSerializer.extend({
        ${1:// body}
      });
    """
    'leftLabelHTML': "<span style='color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em '\>Ember Files</span>"
    'description': 'Ember files skeleton / import syntex '
    'descriptionMoreURL': 'http://emberjs.com'
  'Emebr JSON API Serializer Skeleton':
    'prefix': 'jsonapi-serializer'
    'body': """
      import DS from 'ember-data';
      export default DS.JSONAPISerializer.extend({
        ${1:// body}
      });
    """
    'leftLabelHTML': "<span style='color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em '\>Ember Files</span>"
    'description': 'Ember files skeleton / import syntex '
    'descriptionMoreURL': 'http://emberjs.com'
  'Emebr Transform Serializer Skeleton':
    'prefix': 'transform'
    'body': """
      import DS from 'ember-data';
      export default DS.Transforms.extend({
        ${1:// body}
      });
    """
    'leftLabelHTML': "<span style='color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em '\>Ember Files</span>"
    'description': 'Ember files skeleton / import syntex '
    'descriptionMoreURL': 'http://emberjs.com'
  'Emebr Initializer Skeleton':
    'prefix': 'initializer'
    'body': """
      export default {
        name: '${1:name}',
        initialize: function() {
          ${2:// body}
        }
      };
    """
    'leftLabelHTML': "<span style='color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em '\>Ember Files</span>"
    'description': 'Ember files skeleton / import syntex '
    'descriptionMoreURL': 'http://emberjs.com'
  'Emebr Utility Skeleton':
    'prefix': 'utility'
    'body': """
      export default function ${1:myUtility}() {
        ${2:// body}
      };
    """
    'leftLabelHTML': "<span style='color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em '\>Ember Files</span>"
    'description': 'Ember files skeleton / import syntex '
    'descriptionMoreURL': 'http://emberjs.com'

# ////////////
'.source.coffee':

  'Emebr Route Skeleton':
    'prefix': 'route'
    'body': """
      ${1:name}Route = Ember.Route.extend
        model: ->
          ${2:# body}
      `export default ${1}Route`
    """
    'leftLabelHTML': "<span style='color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em '\>Ember Files</span>"
    'description': 'Ember files skeleton / import syntex '
    'descriptionMoreURL': 'http://emberjs.com'
  'Emebr Controller Skeleton':
    'prefix': 'controller'
    'body': """
      ${1:name}Controller = Ember.Controller.extend
        ${2:# body}

      `export default ${1}Controller`
      """
    'leftLabelHTML': "<span style='color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em '\>Ember Files</span>"
    'description': 'Ember files skeleton / import syntex '
    'descriptionMoreURL': 'http://emberjs.com'
  'Emebr Service Skeleton':
    'prefix': 'service'
    'body': """
      ${1:name}Service = Ember.Service.extend
        ${2:# body}

      `export default ${1}Service`
    """
    'leftLabelHTML': "<span style='color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em '\>Ember Files</span>"
    'description': 'Ember files skeleton / import syntex '
    'descriptionMoreURL': 'http://emberjs.com'
  'Emebr Array Controller Skeleton':
    'prefix': 'Controller'
    'body': """
      ${1:name}Controller = Ember.ArrayController.extend
        ${2:# body}
      `export default ${1}Controller`
    """
    'leftLabelHTML': "<span style='color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em '\>Ember Files</span>"
    'description': 'Ember files skeleton / import syntex '
    'descriptionMoreURL': 'http://emberjs.com'
  'Emebr View Skeleton':
    'prefix': 'view'
    'body': """
      ${1:name}View = Ember.View.extend
        ${2:# body}
      `export default ${1}View`
    """
    'leftLabelHTML': "<span style='color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em '\>Ember Files</span>"
    'description': 'Ember files skeleton / import syntex '
    'descriptionMoreURL': 'http://emberjs.com'
  'Emebr Component Skeleton':
    'prefix': 'component'
    'body': """
      ${1:name}Component = Ember.Component.extend
        ${2:# body}
      `export default ${1}Component`
    """
    'leftLabelHTML': "<span style='color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em '\>Ember Files</span>"
    'description': 'Ember files skeleton / import syntex '
    'descriptionMoreURL': 'http://emberjs.com'
  'Emebr Mixin Skeleton':
    'prefix': 'mixin'
    'body': """
      ${1:name}Mixin = Ember.Mixin.create
        ${2:# body}

      `export default ${1}Mixin`
    """
    'leftLabelHTML': "<span style='color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em '\>Ember Files</span>"
    'description': 'Ember files skeleton / import syntex '
    'descriptionMoreURL': 'http://emberjs.com'
  'Emebr Object Skeleton':
    'prefix': 'object'
    'body': """
      ${1:name} = Ember.Object.extend
        ${2:# body}

      `export default ${1}`
    """
    'leftLabelHTML': "<span style='color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em '\>Ember Files</span>"
    'description': 'Ember files skeleton / import syntex '
    'descriptionMoreURL': 'http://emberjs.com'
  'Emebr Helper Skeleton':
    'prefix': 'bound-helper'
    'body': """
      ${1}Helper = Ember.Handlebars.makeBoundHelper ->
        ${2:# body}
      `export default ${1}Helper`
    """
    'leftLabelHTML': "<span style='color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em '\>Ember Files</span>"
    'description': 'Ember files skeleton / import syntex '
    'descriptionMoreURL': 'http://emberjs.com'
  'Emebr Helper Skeleton':
    'prefix': 'helper'
    'body': """
      ${1}Helper = Ember.Helper.extend
        compute: ->
          ${2:# body}
      `export default ${1}Helper`
    """
    'leftLabelHTML': "<span style='color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em '\>Ember Files</span>"
    'description': 'Ember files skeleton / import syntex '
    'descriptionMoreURL': 'http://emberjs.com'
  'Emebr Model Skeleton':
    'prefix': 'model'
    'body': """
      ${1:name} = DS.Model.extend
        ${2:# body}
      `export default ${1}`
    """
    'leftLabelHTML': "<span style='color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em '\>Ember Files</span>"
    'description': 'Ember files skeleton / import syntex '
    'descriptionMoreURL': 'http://emberjs.com'
  'Emebr REST Adapter Skeleton':
    'prefix': 'adapter'
    'body': """
      ${1}Adapter = DS.RESTAdapter.extend
        ${2:# body}
      `export default ${1}Adapter`
    """
    'leftLabelHTML': "<span style='color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em '\>Ember Files</span>"
    'description': 'Ember files skeleton / import syntex '
    'descriptionMoreURL': 'http://emberjs.com'

  'Emebr Active Model Adapter Skeleton':
    'prefix': 'active-adapter'
    'body': """
      ${1}Adapter = DS.ActiveModelAdapter.extend
        ${2:# body}
      `export default ${1}Adapter`
    """
    'leftLabelHTML': "<span style='color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em '\>Ember Files</span>"
    'description': 'Ember files skeleton / import syntex '
    'descriptionMoreURL': 'http://emberjs.com'
  'Emebr JSON API Adapter Skeleton':
    'prefix': 'jsonapi-adapter'
    'body': """
      ${1}Adapter = DS.JSONAPIAdapter.extend
        ${2:# body}
      `export default ${1}Adapter`
    """
    'leftLabelHTML': "<span style='color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em '\>Ember Files</span>"
    'description': 'Ember files skeleton / import syntex '
    'descriptionMoreURL': 'http://emberjs.com'
  'Emebr REST Serializer Skeleton':
    'prefix': 'serializer'
    'body': """
      ${1:name}Serializer = DS.RESTSerializer.extend
        ${2:# body}
      `export default ${1}Serializer`
    """
    'leftLabelHTML': "<span style='color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em '\>Ember Files</span>"
    'description': 'Ember files skeleton / import syntex '
    'descriptionMoreURL': 'http://emberjs.com'
  'Emebr Active Model Serializer Skeleton':
    'prefix': 'active-serializer'
    'body': """
      ${1:name}Serializer = DS.ActiveModelSerializer.extend
        ${2:# body}
      `export default ${1}Serializer`
    """
    'leftLabelHTML': "<span style='color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em '\>Ember Files</span>"
    'description': 'Ember files skeleton / import syntex '
    'descriptionMoreURL': 'http://emberjs.com'
  'Emebr JSON API Serializer Skeleton':
    'prefix': 'jsonapi-serializer'
    'body': """
      ${1:name}Serializer = DS.JSONAPISerializer.extend
        ${2:# body}
      `export default ${1}Serializer`
    """
    'leftLabelHTML': "<span style='color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em '\>Ember Files</span>"
    'description': 'Ember files skeleton / import syntex '
    'descriptionMoreURL': 'http://emberjs.com'
  'Emebr Transform Serializer Skeleton':
    'prefix': 'transform'
    'body': """
      ${1:name}Transformer = DS.Transforms.extend
        ${2:# body}
      `export default ${1}Transformer`
    """
    'leftLabelHTML': "<span style='color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em '\>Ember Files</span>"
    'description': 'Ember files skeleton / import syntex '
    'descriptionMoreURL': 'http://emberjs.com'
  'Emebr Initializer Skeleton':
    'prefix': 'initializer'
    'body': """
      ${1:name}Initializer =
        name: '${1:name}'
        initialize: ->
          ${2:# body}
      `export default ${1}Initializer`
    """
    'leftLabelHTML': "<span style='color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em '\>Ember Files</span>"
    'description': 'Ember files skeleton / import syntex '
    'descriptionMoreURL': 'http://emberjs.com'
  'Emebr Utility Skeleton':
    'prefix': 'utility'
    'body': """
      ${1:myUtility} = ->
        ${2:# body}
      `export default ${1:myUtility}`
    """
    'leftLabelHTML': "<span style='color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em '\>Ember Files</span>"
    'description': 'Ember files skeleton / import syntex '
    'descriptionMoreURL': 'http://emberjs.com'
