
'.text.html.ruby, .text.html.erb':



  'erb_exec_block':
    'prefix': 'erb'
    'body': '<% $1 %>'
    'leftLabelHTML': '<span style=\"color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em\">rails</span>'
    'description': 'Embedded ruby .... '
    'descriptionMoreURL': 'http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html'

  'erb_exec_block':
    'prefix': '-'
    'body': '<% $1 %>'
    'leftLabelHTML': '<span style=\"color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em\">rails</span>'
    'description': 'Embedded ruby .... '
    'descriptionMoreURL': 'http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html'

  'erb_loop_block':
    'prefix': 'each-do'
    'body': """
      <% ${1:array}.each do |${2:element}| %>
        <%= $3 %>
      <% end %>
    """
    'leftLabelHTML': '<span style=\"color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em\">rails</span>'
    'description': 'Embedded ruby .... '
    'descriptionMoreURL': 'http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html'

  'link_to':
    'prefix': 'link_to'
    'body': '<%= link_to "${1:text}", ${2:"#"}, ${4:class: "${3:btn btn-primary}"} %>$0'
    'leftLabelHTML': '<span style=\"color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em\">rails</span>'
    'description': 'Embedded ruby .... '
    'descriptionMoreURL': 'http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html'

  'link_to_method':
    'prefix': 'link_to_method'
    'body': '<%= link_to "${1:text}", ${2:"#"}, method: :${3:post} %>'
    'leftLabelHTML': '<span style=\"color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em\">rails</span>'
    'description': 'erb '
    'descriptionMoreURL': 'http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html'

  'link_to_tooltip':
    'prefix': 'link_to_tooltip'
    'body': '<%= link_to "${1:text}", ${2:"#"}, data: { toggle: :tooltip, title: "$3" } %>'
    'leftLabelHTML': '<span style=\"color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em\">rails</span>'
    'description': 'erb'
    'descriptionMoreURL': 'http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html'

  'link_to_block':
    'prefix': 'link_to_block'
    'body': """
      <%= link_to ${1:'#'}, class: '${2:btn btn-primary}' do %>
        ${3:<%= ${4:fa_icon('${5:search}')} %>}$6
      <% end %>
    """
    'leftLabelHTML': '<span style=\"color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em\">rails</span>'
    'description': 'erb'
    'descriptionMoreURL': 'http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html'

  'link_to_block':
    'prefix': 'link_to_block'
    'body': """
      <%= link_to ${1:'#'}, class: '${2:btn btn-primary}' do %>
        ${3:<%= ${4:fa_icon('${5:search}')} %>}$6
      <% end %>
    """
    'leftLabelHTML': '<span style=\"color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em\">rails</span>'
    'description': 'link_to(name = nil, options = nil, html_options = nil, &block)'
    'descriptionMoreURL': 'http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html'

  'image_tag':
    'prefix': 'image'
    'body': '<%= image_tag $1 %>'
    'leftLabelHTML': '<span style=\"color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em\">rails</span>'
    'description': 'link_to(name = nil, options = nil, html_options = nil, &block)'
    'descriptionMoreURL': 'http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html'

  'render (partial)':
    'prefix': 'render_partial'
    'body': '<%= render "${1:partial}" %>'
    'leftLabelHTML': '<span style=\"color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em\">rails</span>'
    'description': "<%= render 'partial' %>"
    'descriptionMoreURL': 'http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html'

  'render (partial, object)':
    'prefix': 'render_partial_obj'
    'body': '<%= render "${1:shared/errors}", ${2:object}: ${3:@${2:object}}, $0 %>'
    'leftLabelHTML': '<span style=\"color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em\">rails</span>'
    'description': 'erb'
    'descriptionMoreURL': 'http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html'

  'render (partial, locals)':
    'prefix': 'render_partial_local'
    'body': '<%= render "${1:d}", ${2:variable}: ${3:object}$4 %>'
    'leftLabelHTML': '<span style=\"color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em\">rails</span>'
    'description': 'erb'
    'descriptionMoreURL': 'http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html'

  'content_tag':
    'prefix': 'content_tag'
    'body': '<%= content_tag :${1:div}, ${2:nil}, ${3:key}: "${4:value}" %>'
    'leftLabelHTML': '<span style=\"color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em\">rails</span>'
    'description': 'erb'
    'descriptionMoreURL': 'http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html'

  'content_tag_block':
    'prefix': 'content_tag_block'
    'body': """
      <%= content_tag :${1:div}, ${2:key}: "${3:value}" do %>
        ${4:<!-- content -->}
      <% end %>
    """
    'leftLabelHTML': '<span style=\"color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em\">rails</span>'
    'description': 'erb'
    'descriptionMoreURL': 'http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html'

  'content_for':
    'prefix': 'content_for'
    'body': """
      <%= content_for :${1:block} do %>
        ${2:<!-- content -->}
      <% end %>
    """
    'leftLabelHTML': '<span style=\"color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em\">rails</span>'
    'description': 'erb'
    'descriptionMoreURL': 'http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html'

  'yield':
    'prefix': 'yield'
    'body': '<%= yield :${1:block_name} %>'
    'leftLabelHTML': '<span style=\"color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em\">rails</span>'
    'description': 'erb'
    'descriptionMoreURL': 'http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html'

  'javascrit_include_tag':
    'prefix': 'javascrit_include_tag'
    'body': '<%= javascript_include_tag "${1:file_name}", "data-turbolinks-track" => true %>'
    'leftLabelHTML': '<span style=\"color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em\">rails</span>'
    'description': 'erb'
    'descriptionMoreURL': 'http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html'

  'stylesheet_link_tag':
    'prefix': 'stylesheet_link_tag'
    'body': '<%= stylesheet_link_tag "${1:file_name}", media: "all", "data-turbolinks-track" => true %>'
    'leftLabelHTML': '<span style=\"color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em\">rails</span>'
    'description': 'erb'
    'descriptionMoreURL': 'http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html'

  'favicon_link_tag':
    'prefix': 'favicon_link_tag'
    'body': '<%= favicon_link_tag "favicon.ico" %>'
    'leftLabelHTML': '<span style=\"color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em\">rails</span>'
    'description': 'erb'
    'descriptionMoreURL': 'http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html'

  '.each with index':
    'prefix': 'each_with_index'
    'description': 'each with index'
    'body': """
      .each_with_index do |$1, index| %>
        <%= $2 %>
      <% end
    """
    'leftLabelHTML': '<span style=\"color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em\">rails</span>'
    'description': 'erb'
    'descriptionMoreURL': 'http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html'

  'if statement':
    'prefix': 'if'
    'description': 'if statement'
    'body': """
      <% if ${1:true} %>
        ${2:<!-- true -->}
      <% end %>
    """
    'leftLabelHTML': '<span style=\"color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em\">rails</span>'
    'description': 'link_to(name = nil, options = nil, html_options = nil, &block)'
    'descriptionMoreURL': 'http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html'

  'unless statement':
    'prefix': 'unless'
    'body': """
      <% unless ${1:true} %>
        ${2:<!-- true -->}
      <% end %>
    """
    'leftLabelHTML': '<span style=\"color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em\">rails</span>'
    'description': 'erb'
    'descriptionMoreURL': 'http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html'

  'if else statement':
    'prefix': 'if-else'
    'descrition': 'if else multiline statement'
    'body': """
      <% if ${1:true} %>
        ${2:<!-- true -->}
      <% else %>
        ${3:<!-- false -->}
      <% end %>
    """
    'leftLabelHTML': '<span style=\"color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em\">rails</span>'
    'description': 'erb'
    'descriptionMoreURL': 'http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html'

  'else':
    'prefix': 'else'
    'body': '<% else %>'
    'leftLabelHTML': '<span style=\"color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em\">rails</span>'
    'description': '<% else %>'
    'descriptionMoreURL': 'http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html'

  'elsif':
    'prefix': 'elsif'
    'body': '<% elsif ${0:true} %>'
    'leftLabelHTML': '<span style=\"color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em\">rails</span>'
    'description': '<% else %>'
    'descriptionMoreURL': 'http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html'

  'russian doll caching':
    'prefix': 'cache'
    'body': """
      <% cache ["${1:key}", ${2:object}] do %>
        $0
      <% end %>
    """
    'leftLabelHTML': '<span style=\"color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em\">rails</span>'
    'description': '<% else %>'
    'descriptionMoreURL': 'http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html'

  'end':
    'prefix': 'end'
    'body': '<% end %>'
    'leftLabelHTML': '<span style=\"color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em\">rails</span>'
    'description': '<% end %>'
    'descriptionMoreURL': 'http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html'

  'fa_icon("icon", text: "text")':
    'prefix': 'fa'
    'body': '<%= fa_icon("${1:search}"${2:, text: "${3:Buscar}"}) %>$0'
    'leftLabelHTML': '<span style=\"color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em\">rails</span>'
    'description': 'fa_icon(names = "flag", options = {})'
    'descriptionMoreURL': 'http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html'

  'current_user':
    'prefix': 'current_user'
    'description': 'current_user'
    'body': '<%= current_user$0 %>'
    'leftLabelHTML': '<span style=\"color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em\">rails</span>'
    'description': '<% Embedded ruby.. %>'
    'descriptionMoreURL': 'http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html'

  'link_to fa_icon("icon", text: "text"), url':
    'prefix': 'link_to_fa'
    'body': '<%= link_to fa_icon("${1:search}"${2:, ${3:text}: "${4:Buscar}"}), ${5:path} %>'
    'leftLabelHTML': '<span style=\"color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em\">rails</span>'
    'description': '<% Embedded ruby.. %>'
    'descriptionMoreURL': 'http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html'

  'number_to_currency':
    'prefix': 'number_to_currency'
    'body': '<%= number_to_currency ${1:number} %>'
    'leftLabelHTML': '<span style=\"color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em\">rails</span>'
    'description': '<% Embedded ruby.. %>'
    'descriptionMoreURL': 'http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html'

   'number_to_human':
    'prefix': 'number_to_human'
    'body': '<%= number_to_human ${1:number} %>'
    'leftLabelHTML': '<span style=\"color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em\">rails</span>'
    'description': '<% Embedded ruby.. %>'
    'descriptionMoreURL': 'http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html'

  'number_to_percentage':
    'prefix': 'number_to_percentage'
    'body': '<%= number_to_percentage ${1:number} %>'
    'leftLabelHTML': '<span style=\"color:#ed225d;display:inline-block;font-weight:400;font-size:1.25em\">rails</span>'
    'description': '<% Embedded ruby.. %>'
    'descriptionMoreURL': 'http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html'
